@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'remixicon/fonts/remixicon.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --prim: #2c373f;
  --prim-light: #f8fafc;
  --second: #fda500;
  --white: #fff;
  --black: #0f172a;
  --gradient: linear-gradient(90deg, #f9a8d4 0%, #fb923c 100%);

  --GolosText: 'Golos Text', sans-serif;
  --Audiowide: 'Audiowide', sans-serif;
  --Lufga: var(--font-lufga);

  --transitio-regular: 0.3s;
  --transition-slow: 0.6s;
}

.GolosText {
  font-family: var(--GolosText);
}

.Audiowide {
  font-family: var(--Audiowide);
}

.Lufga {
  font-family: var(--Lufga), sans-serif;
}

body {
  background-color: #fffaf3;
  overflow-x: hidden !important;
  height: 5000px;
}
